.category-link {
  color: black;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 2px;
  padding-left: 10px;
  background-color: gray;
   border-top-left-radius: .7em;
   border-top-right-radius: .7em;
}

.categories {

}

.link a:hover {
  text-decoration: none;
  color: white;
  background-color: #4FA3C3;
}
